{% extends 'blog/base1.html' %}

{% block content %}

<section id="team">
		<div class="team_block clearfix">
				<h3 style="color: blue;" align=center >About us</h3>
				<br>
			</div>
			<div align="center">
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- this -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-6581313795321939"
			 data-ad-slot="9963370498"
			 data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
		</div>
			<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<p style="color:#fff; font-size: 120%;">
			    Creatives Makhado is a digital platform that showcases the growing movement of urban culture, as well as giving upcoming artists a chance to show their work to world. We showcase all things visual --- from Art, Music, Fashion, Photography and Other types of creative collaboration.
			    <br>
			    <br> This platform is created to Inspire, Uplift and empower the Youth through creative talent from our very own local artists.
			    <br> <br>
			    We are more like a fun way for creatives  to showcase their work to their local community and the world-at-large.
			    <br>
			    <br> Our mission is to serve upcoming artists with a platform ( tools, resources, education and exposure needed to thrive and succeed in their creative careers).
			    <br> <br> We believe that every independent artist deserves the right to be seen, heard and loved.<br>
			<br> We are #CreativesMakhado <br><br>
			How to get featured on Creatives Makhado

If you'd like to get featured on Creatives Makhado, there are many opportunities available, as outlined below. As we receive such a high volume of emails, we can not personally respond to everyone. If your submission is successful, we will be in touch.

Showcasing your creative work<br><br>

🔸️Are you an artist - art, music, fashion, or photographer?<br>

Under our Inspiration section, we feature work from South Africa's very best established and emerging talent.<br><br>

🔸️If you'd like to be featured on Creatives Makhado, you can send your work to creativesmakhado@gmail.com with the following:<br>

- State the creative category in which you'd like to be featured: Art, Music, Fashion or Photography.<br>

-Your full name, location and bio.<br>

-A description of the work you'd like us to feature (or a press release, if possible)<br>

-At least 5 pictures your work; minimum 1,500 pixels wide and RGB format for screensIf necessary, <br>

-include a link to any accompanying video on YouTube or Vimeo.<br>

-A link to your online portfolio(if there is)<br><br>

🔸️Want to be interviewed?<br>

We're always on the lookout for successful or upcoming creatives for our Interviews section.<br> If you, or someone you know, would like to be featured, then please send a pitch email to www.creativesmakhado.co.za and we will consider your submission.<br><br>

🔸️Have an inspiring workspace?<br>

We give our audience a sneak peek inside creative workspaces across the country. From small events or working spaces to some of the country's best creative gathering - we love to find out what your event looks like.<br>

Think you've got something great to show us? Email the details of the show and pictures of the workspace.<br><br>

🔸️ Got an opportunity or competition?

Under our online platform, we regularly share opportunities or competitions with our audience. Whether you'd like to inform people about your upcoming awards or you've got an interesting brief worthy of their attention, email the details to creativesmakhado@gmail.com .
<br><br>
🔸️Have something you want to sell?<br>

We love to share the latest shopping items to suit any creative's lifestyle. Think you've got something that might interest our design-savvy audience? Drop us a line at creativesmakhado@gmail.com


		</p>
		<br><br>
		</div>
			</div>

		</div>

</section>

	{% endblock %}