{% extends 'blog/base1.html' %}

{% block content %}
	<div align="center">
		<h3>Our Policy</h3>
	</div>
	
	<br>
	<div class="row">
	
		<div class="col-md-6 col-md-offset-3">
			<p>We do not share personal information with third-parties <br> nor do we store information we collect about your visit to this blog <br>for use other than to analyze content performance through the use of cookies,<br> which you can turn off at anytime by modifying your Internet browser's settings.<br>

We are not responsible for the republishing of the content found on this blog on other Web sites or media without our permission.<br> This privacy policy is subject to change without notice.</p>
		</div>
<br><br>
	</div>

{% endblock %}	