<app-nav></app-nav>

<!-- Home Start -->
<section class="bg-half-170 home-wrapper border-bottom d-table w-100" id="home">
    <!-- <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-7">
                <div class="title-heading">
                    <h1 class="font-weight-bold">Landrick<span class="text-primary">.</span></h1>
                    <h4 class="heading font-weight-bold mb-3">Built For <span class="element text-primary" data-elements=" Saas & Software, Application, Enterprise, Payments, Cryptocurrency, Software, Coworking, Services, Minimal Portfolio, Job or Careers, Classic Application, Classic Saas, Car Ride, Customer Support, Onepage, Cloud Hosting, Event, Business, Marketing, Agency, Studio, Hotel, Modern Business, E-mail Template, Digital Agency, Online Learning, Social Marketing, Educational Course, Personal Portfolio, Single Product, RTL Supported Theme, Dark Supported Theme"></span></h4>
                    <p class="para-desc text-muted">Start working with <span class="text-primary font-weight-bold">Landrick</span> that can provide everything you need to generate awareness, drive traffic, connect.</p>
                
                    <div class="mt-4 pt-2"> 
                        <a href="#demos" class="btn btn-primary rounded mouse-down mr-2 mb-2">View Demos</a>
                        <a href="https://1.envato.market/4n73n" target="_blank" class="btn btn-outline-primary rounded mb-2">Download Now</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-md-5 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <img src="assets/images/rocket.svg" class="img-fluid mover" alt="">
            </div>
        </div>
    </div> -->
</section>

<section class="section mt-md-5 mt-lg-4" id="demos">
    <div class="container">
        <div class="bg-light shadow rounded px-4 py-5 p-md-5">
            <div class="row">
                <div *ngFor="let item of posts" class="col-md-6 col-12">
                    <div class="demos-box text-center">
                        <a href="blog-detail.html" target="_blank">
                            <img src="{{item.posts}}" class="img-fluid rounded" alt="demo-img">
                        </a>
                        <h5 class="title text-uppercase mt-4 mb-0">{{item.title}} <span class="py-1 px-2 rounded-pill bg-danger text-white h6">NEW</span></h5>
                    </div>
                </div><!--end col-->

                
            </div><!--end row-->
        </div>
    </div>


</section><!--end section-->

<app-footer></app-footer>
